.footer-section {
  background-color: #212529;
  padding: 30px;
  text-align: center;
}
.footer-section img {
  margin-top: 20px;
}
.footer-section p {
  color: #fff;
  margin-top: 10px;
  margin-top: 15px;
}
